body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.product {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: rgb(189, 4, 4);
}

.cart-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff0000;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-button:hover {
    background-color:rgb(189, 4, 4);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
}

.modal-content {
    padding: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

#cart {
    list-style-type: none;
    padding: 0;
}

#cart li {
    background: #f8f9fa;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.item {
    display: flex; /* Utiliza flexbox para alinhar itens */
    justify-content: space-between; /* Alinha o texto e o botão nas extremidades */
    align-items: center; /* Centraliza verticalmente os itens */
    margin-bottom: 10px; /* Adiciona margem entre os itens */
    }
    
    .remove-button {
    margin-left: 10px; /* Ajusta a margem à esquerda do botão "Remover" */
    background-color:red;
    }

    .nome {
        display:flex;
        width:200px;
        height:200px;
        text-align:top;
    }

    .product-image {
        max-width: 100%;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        transition: transform 0.3s ease;
    }
    
    .product-image:hover {
        transform: scale(1.175); /* Aumenta o tamanho em 10% */
    }

